body{
  font-family:Lucida Console;
  font-size: 20px;
  line-height: 1.6em;
  background: #ffffff
}
li{
  list-style: none;
}

.container{
  width:70%;
  margin: 20px auto;
  overflow: auto;
}

.pull-left{float:left;}
.pull-right{float:right;}

/* #main div{
  text-align:center;
  display:block;
} */
#main {
    text-align:center;
}
#main img{
  display:block;
  margin:0 auto;
}
header{
  background:#b5d1ff;
  color:#ffffff
  padding: 5px 10px;
  overflow: auto;
  font-size: 16px;
  font-family:Lucida Console;
}
footer{
  background:#b5d1ff;
  color:#ffffff
  padding: 5px 10px;
  overflow: auto;
  font-family:Lucida Console;
}

@media only screen and (max-width:90px){
  .container{
    width:90%;
  }
}
